$columns: 12;
$atom: (100% / $columns);

$break_s1360px: 1360px;
$break_s960px: 960px;
$break_s780px: 780px;
$break_s560px: 560px;

$offset: 30px;
$offset_s1360px: $offset;
$offset_s960px: $offset;
$offset_s780px: $offset;
$offset_s560px: $offset;

$offset_one_side: ($offset / 2);
$offset_s1360px_one_side: ($offset_s1360px / 2);
$offset_s960px_one_side: ($offset_s960px / 2);
$offset_s780px_one_side: ($offset_s780px / 2);
$offset_s560px_one_side: ($offset_s560px / 2);

$fields: 0;
$fields_s780px: 15px;

@mixin wrapper-full(){
    padding-left: $fields;
    padding-right: $fields;

    @include s780px-block(){
        padding-left: $fields_s780px;
        padding-right: $fields_s780px;
    }
}

@mixin row-offsets(){
    margin-left: ($offset_one_side * -1);
    margin-right: ($offset_one_side * -1);
}

@mixin col-offsets($type){
    #{$type}-left: $offset_one_side;
    #{$type}-right: $offset_one_side;
}

@mixin wrapper(){
    max-width: 1620px;
    margin: 0 auto;
    @include wrapper-full();
}

@mixin row-flex(){
    display: flex;
    flex-wrap: wrap;
    @include row-offsets();
}

@mixin row-float(){
    @include row-offsets();
    @include clearfix();
}

@mixin row-ib(){
    @include row-offsets();
}

@mixin col(){
    box-sizing: border-box;
    word-wrap: break-word;
    @include col-offsets(margin);
}

@mixin col-float(){
    float: left;
}

@mixin col-ib(){
    display: inline-block;
    vertical-align: top;
}

@mixin col-padding(){
    word-wrap: break-word;
    @include col-offsets(padding);
}

@mixin size($n){
    $val: 100% / $columns * $n;
    width: #{calc(#{$val} - #{$offset})};
}

@mixin size-s1360px($n){
    $val: 100% / $columns * $n;
    @include s1360px(width, #{calc(#{$val} - #{$offset_s1360px})});
}

@mixin size-s960px($n){
    $val: 100% / $columns * $n;
    @include s960px(width, #{calc(#{$val} - #{$offset_s960px})});
}

@mixin size-s780px($n){
    $val: 100% / $columns * $n;
    @include s780px(width, #{calc(#{$val} - #{$offset_s780px})});
}

@mixin size-s560px($n){
    $val: 100% / $columns * $n;
    @include s560px(width, #{calc(#{$val} - #{$offset_s560px})});
}

@mixin shift($n){
    $val: 100% / $columns * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-left($n){
    $val: 100% / $columns * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-right($n){
    $val: 100% / $columns * $n;
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding($n){
    $val: 100% / $columns * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-left($n){
    $val: 100% / $columns * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-right($n){
    $val: 100% / $columns * $n;
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-s1360px($n){
    $val: 100% / $columns * $n;
    @include s1360px(margin-left, #{calc(#{$val} + #{$offset_s1360px_one_side})});
    @include s1360px(margin-right, #{calc(#{$val} + #{$offset_s1360px_one_side})});
}

@mixin shift-s1360px-left($n){
    $val: 100% / $columns * $n;
    @include s1360px(margin-left, #{calc(#{$val} + #{$offset_s1360px_one_side})});
}

@mixin shift-s1360px-right($n){
    $val: 100% / $columns * $n;
    @include s1360px(margin-right, #{calc(#{$val} + #{$offset_s1360px_one_side})});
}

@mixin shift-s1360px-padding($n){
    $val: 100% / $columns * $n;
    @include s1360px(padding-left, #{calc(#{$val} + #{$offset_s1360px_one_side})});
    @include s1360px(padding-right, #{calc(#{$val} + #{$offset_s1360px_one_side})});
}

@mixin shift-s1360px-padding-left($n){
    $val: 100% / $columns * $n;
    @include s1360px(padding-left, #{calc(#{$val} + #{$offset_s1360px_one_side})});
}

@mixin shift-s1360px-padding-right($n){
    $val: 100% / $columns * $n;
    @include s1360px(padding-right, #{calc(#{$val} + #{$offset_s1360px_one_side})});
}

@mixin shift-s960px($n){
    $val: 100% / $columns * $n;
    @include s960px(margin-left, #{calc(#{$val} + #{$offset_s960px_one_side})});
    @include s960px(margin-right, #{calc(#{$val} + #{$offset_s960px_one_side})});
}

@mixin shift-s960px-left($n){
    $val: 100% / $columns * $n;
    @include s960px(margin-left, #{calc(#{$val} + #{$offset_s960px_one_side})});
}

@mixin shift-s960px-right($n){
    $val: 100% / $columns * $n;
    @include s960px(margin-right, #{calc(#{$val} + #{$offset_s960px_one_side})});
}

@mixin shift-s960px-padding($n){
    $val: 100% / $columns * $n;
    @include s960px(padding-left, #{calc(#{$val} + #{$offset_s960px_one_side})});
    @include s960px(padding-right, #{calc(#{$val} + #{$offset_s960px_one_side})});
}

@mixin shift-s960px-padding-left($n){
    $val: 100% / $columns * $n;
    @include s960px(padding-left, #{calc(#{$val} + #{$offset_s960px_one_side})});
}

@mixin shift-s960px-padding-right($n){
    $val: 100% / $columns * $n;
    @include s960px(padding-right, #{calc(#{$val} + #{$offset_s960px_one_side})});
}

@mixin shift-s780px($n){
    $val: 100% / $columns * $n;
    @include s780px(margin-left, #{calc(#{$val} + #{$offset_s780px_one_side})});
    @include s780px(margin-right, #{calc(#{$val} + #{$offset_s780px_one_side})});
}

@mixin shift-s780px-left($n){
    $val: 100% / $columns * $n;
    @include s780px(margin-left, #{calc(#{$val} + #{$offset_s780px_one_side})});
}

@mixin shift-s780px-right($n){
    $val: 100% / $columns * $n;
    @include s780px(margin-right, #{calc(#{$val} + #{$offset_s780px_one_side})});
}

@mixin shift-s780px-padding($n){
    $val: 100% / $columns * $n;
    @include s780px(padding-left, #{calc(#{$val} + #{$offset_s780px_one_side})});
    @include s780px(padding-right, #{calc(#{$val} + #{$offset_s780px_one_side})});
}

@mixin shift-s780px-padding-left($n){
    $val: 100% / $columns * $n;
    @include s780px(padding-left, #{calc(#{$val} + #{$offset_s780px_one_side})});
}

@mixin shift-s780px-padding-right($n){
    $val: 100% / $columns * $n;
    @include s780px(padding-right, #{calc(#{$val} + #{$offset_s780px_one_side})});
}

@mixin shift-s560px($n){
    $val: 100% / $columns * $n;
    @include s560px(margin-left, #{calc(#{$val} + #{$offset_s560px_one_side})});
    @include s560px(margin-right, #{calc(#{$val} + #{$offset_s560px_one_side})});
}

@mixin shift-s560px-left($n){
    $val: 100% / $columns * $n;
    @include s560px(margin-left, #{calc(#{$val} + #{$offset_s560px_one_side})});
}

@mixin shift-s560px-right($n){
    $val: 100% / $columns * $n;
    @include s560px(margin-right, #{calc(#{$val} + #{$offset_s560px_one_side})});
}

@mixin shift-s560px-padding($n){
    $val: 100% / $columns * $n;
    @include s560px(padding-left, #{calc(#{$val} + #{$offset_s560px_one_side})});
    @include s560px(padding-right, #{calc(#{$val} + #{$offset_s560px_one_side})});
}

@mixin shift-s560px-padding-left($n){
    $val: 100% / $columns * $n;
    @include s560px(padding-left, #{calc(#{$val} + #{$offset_s560px_one_side})});
}

@mixin shift-s560px-padding-right($n){
    $val: 100% / $columns * $n;
    @include s560px(padding-right, #{calc(#{$val} + #{$offset_s560px_one_side})});
}

@mixin s1360px($name, $value){
    @media screen and (max-width: $break_s1360px){
        #{$name}: $value;
    }
}

@mixin s1360px-block(){
    @media screen and (max-width: $break_s1360px){
        @content;
    }
}

@mixin s960px($name, $value){
    @media screen and (max-width: $break_s960px){
        #{$name}: $value;
    }
}

@mixin s960px-block(){
    @media screen and (max-width: $break_s960px){
        @content;
    }
}

@mixin s780px($name, $value){
    @media screen and (max-width: $break_s780px){
        #{$name}: $value;
    }
}

@mixin s780px-block(){
    @media screen and (max-width: $break_s780px){
        @content;
    }
}

@mixin s560px($name, $value){
    @media screen and (max-width: $break_s560px){
        #{$name}: $value;
    }
}

@mixin s560px-block(){
    @media screen and (max-width: $break_s560px){
        @content;
    }
}

@mixin from($min_width){
    @media screen and (min-width: $min_width){
        @content;
    }
}

@mixin to($max_width){
    @media screen and (max-width: $max_width){
        @content;
    }
}

@mixin from-to($min_width, $max_width){
    @media screen and (min-width: $min_width) and (max-width: $max_width){
        @content;
    }
}

@mixin u-row-flex($offset){
    display: flex;
    flex-wrap: wrap;
    margin-left: ($offset / -2);
    margin-right: ($offset / -2);
}

@mixin u-col($offset){
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: ($offset / 2);
    margin-right: ($offset / 2);
}

@mixin u-size($n, $columns, $offset){
    width: #{calc(100% / #{$columns} * #{$n} - #{$offset})};
}

@mixin reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

@mixin debug($background, $outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    
    > div{
        height: inherit;
        @include wrapper();
        
        > div{
            height: inherit;
            @include row-flex();
            
            > div{
                @include col();
                @include size(1);
                height: inherit;
                outline: $outline;
                background: $background;
            }
        }
    }
}

@mixin clearfix(){
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}
