$columns: 12;
$atom: (100% / $columns);

$break_560: 560px;
$break_780: 780px;
$break_960: 960px;
$break_1360: 1360px;

$offset: 30px;
$offset_560: $offset;
$offset_780: $offset;
$offset_960: $offset;
$offset_1360: $offset;

$offset_one_side: ($offset / 2);
$offset_560_one_side: ($offset_560 / 2);
$offset_780_one_side: ($offset_780 / 2);
$offset_960_one_side: ($offset_960 / 2);
$offset_1360_one_side: ($offset_1360 / 2);

$fields: auto;
$fields_780: 15px;

@mixin wrapper-full(){
    padding-left: $fields;
    padding-right: $fields;

    @include 780-block(){
        padding-left: $fields_780;
        padding-right: $fields_780;
    }
}

@mixin row-offsets(){
    margin-left: ($offset_one_side * -1);
    margin-right: ($offset_one_side * -1);
}

@mixin col-offsets($type){
    #{$type}-left: $offset_one_side;
    #{$type}-right: $offset_one_side;
}

@mixin wrapper(){
    max-width: 1620px;
    margin: 0 auto;
    @include wrapper-full();
}

@mixin row-flex(){
    display: flex;
    flex-wrap: wrap;
    @include row-offsets();
}

@mixin row-float(){
    @include row-offsets();
    @include clearfix();
}

@mixin row-ib(){
    @include row-offsets();
}

@mixin col(){
    box-sizing: border-box;
    word-wrap: break-word;
    @include col-offsets(margin);
}

@mixin col-float(){
    float: left;
}

@mixin col-ib(){
    display: inline-block;
    vertical-align: top;
}

@mixin col-padding(){
    word-wrap: break-word;
    @include col-offsets(padding);
}

@mixin size($n){
    $val: 100% / $columns * $n;
    width: #{calc(#{$val} - #{$offset})};
}

@mixin size-560($n){
    $val: 100% / $columns * $n;
    @include 560(width, #{calc(#{$val} - #{$offset_560})});
}

@mixin size-780($n){
    $val: 100% / $columns * $n;
    @include 780(width, #{calc(#{$val} - #{$offset_780})});
}

@mixin size-960($n){
    $val: 100% / $columns * $n;
    @include 960(width, #{calc(#{$val} - #{$offset_960})});
}

@mixin size-1360($n){
    $val: 100% / $columns * $n;
    @include 1360(width, #{calc(#{$val} - #{$offset_1360})});
}

@mixin shift($n){
    $val: 100% / $columns * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-left($n){
    $val: 100% / $columns * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-right($n){
    $val: 100% / $columns * $n;
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding($n){
    $val: 100% / $columns * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-left($n){
    $val: 100% / $columns * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-right($n){
    $val: 100% / $columns * $n;
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-560($n){
    $val: 100% / $columns * $n;
    @include 560(margin-left, #{calc(#{$val} + #{$offset_560_one_side})});
    @include 560(margin-right, #{calc(#{$val} + #{$offset_560_one_side})});
}

@mixin shift-560-left($n){
    $val: 100% / $columns * $n;
    @include 560(margin-left, #{calc(#{$val} + #{$offset_560_one_side})});
}

@mixin shift-560-right($n){
    $val: 100% / $columns * $n;
    @include 560(margin-right, #{calc(#{$val} + #{$offset_560_one_side})});
}

@mixin shift-560-padding($n){
    $val: 100% / $columns * $n;
    @include 560(padding-left, #{calc(#{$val} + #{$offset_560_one_side})});
    @include 560(padding-right, #{calc(#{$val} + #{$offset_560_one_side})});
}

@mixin shift-560-padding-left($n){
    $val: 100% / $columns * $n;
    @include 560(padding-left, #{calc(#{$val} + #{$offset_560_one_side})});
}

@mixin shift-560-padding-right($n){
    $val: 100% / $columns * $n;
    @include 560(padding-right, #{calc(#{$val} + #{$offset_560_one_side})});
}

@mixin shift-780($n){
    $val: 100% / $columns * $n;
    @include 780(margin-left, #{calc(#{$val} + #{$offset_780_one_side})});
    @include 780(margin-right, #{calc(#{$val} + #{$offset_780_one_side})});
}

@mixin shift-780-left($n){
    $val: 100% / $columns * $n;
    @include 780(margin-left, #{calc(#{$val} + #{$offset_780_one_side})});
}

@mixin shift-780-right($n){
    $val: 100% / $columns * $n;
    @include 780(margin-right, #{calc(#{$val} + #{$offset_780_one_side})});
}

@mixin shift-780-padding($n){
    $val: 100% / $columns * $n;
    @include 780(padding-left, #{calc(#{$val} + #{$offset_780_one_side})});
    @include 780(padding-right, #{calc(#{$val} + #{$offset_780_one_side})});
}

@mixin shift-780-padding-left($n){
    $val: 100% / $columns * $n;
    @include 780(padding-left, #{calc(#{$val} + #{$offset_780_one_side})});
}

@mixin shift-780-padding-right($n){
    $val: 100% / $columns * $n;
    @include 780(padding-right, #{calc(#{$val} + #{$offset_780_one_side})});
}

@mixin shift-960($n){
    $val: 100% / $columns * $n;
    @include 960(margin-left, #{calc(#{$val} + #{$offset_960_one_side})});
    @include 960(margin-right, #{calc(#{$val} + #{$offset_960_one_side})});
}

@mixin shift-960-left($n){
    $val: 100% / $columns * $n;
    @include 960(margin-left, #{calc(#{$val} + #{$offset_960_one_side})});
}

@mixin shift-960-right($n){
    $val: 100% / $columns * $n;
    @include 960(margin-right, #{calc(#{$val} + #{$offset_960_one_side})});
}

@mixin shift-960-padding($n){
    $val: 100% / $columns * $n;
    @include 960(padding-left, #{calc(#{$val} + #{$offset_960_one_side})});
    @include 960(padding-right, #{calc(#{$val} + #{$offset_960_one_side})});
}

@mixin shift-960-padding-left($n){
    $val: 100% / $columns * $n;
    @include 960(padding-left, #{calc(#{$val} + #{$offset_960_one_side})});
}

@mixin shift-960-padding-right($n){
    $val: 100% / $columns * $n;
    @include 960(padding-right, #{calc(#{$val} + #{$offset_960_one_side})});
}

@mixin shift-1360($n){
    $val: 100% / $columns * $n;
    @include 1360(margin-left, #{calc(#{$val} + #{$offset_1360_one_side})});
    @include 1360(margin-right, #{calc(#{$val} + #{$offset_1360_one_side})});
}

@mixin shift-1360-left($n){
    $val: 100% / $columns * $n;
    @include 1360(margin-left, #{calc(#{$val} + #{$offset_1360_one_side})});
}

@mixin shift-1360-right($n){
    $val: 100% / $columns * $n;
    @include 1360(margin-right, #{calc(#{$val} + #{$offset_1360_one_side})});
}

@mixin shift-1360-padding($n){
    $val: 100% / $columns * $n;
    @include 1360(padding-left, #{calc(#{$val} + #{$offset_1360_one_side})});
    @include 1360(padding-right, #{calc(#{$val} + #{$offset_1360_one_side})});
}

@mixin shift-1360-padding-left($n){
    $val: 100% / $columns * $n;
    @include 1360(padding-left, #{calc(#{$val} + #{$offset_1360_one_side})});
}

@mixin shift-1360-padding-right($n){
    $val: 100% / $columns * $n;
    @include 1360(padding-right, #{calc(#{$val} + #{$offset_1360_one_side})});
}

@mixin 560($name, $value){
    @media screen and (max-width: $break_560){
        #{$name}: $value;
    }
}

@mixin 560-block(){
    @media screen and (max-width: $break_560){
        @content;
    }
}

@mixin 780($name, $value){
    @media screen and (max-width: $break_780){
        #{$name}: $value;
    }
}

@mixin 780-block(){
    @media screen and (max-width: $break_780){
        @content;
    }
}

@mixin 960($name, $value){
    @media screen and (max-width: $break_960){
        #{$name}: $value;
    }
}

@mixin 960-block(){
    @media screen and (max-width: $break_960){
        @content;
    }
}

@mixin 1360($name, $value){
    @media screen and (max-width: $break_1360){
        #{$name}: $value;
    }
}

@mixin 1360-block(){
    @media screen and (max-width: $break_1360){
        @content;
    }
}

@mixin from($min_width){
    @media screen and (min-width: $min_width){
        @content;
    }
}

@mixin to($max_width){
    @media screen and (max-width: $max_width){
        @content;
    }
}

@mixin from-to($min_width, $max_width){
    @media screen and (min-width: $min_width) and (max-width: $max_width){
        @content;
    }
}

@mixin u-row-flex($offset){
    display: flex;
    flex-wrap: wrap;
    margin-left: ($offset / -2);
    margin-right: ($offset / -2);
}

@mixin u-col($offset){
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: ($offset / 2);
    margin-right: ($offset / 2);
}

@mixin u-size($n, $columns, $offset){
    width: #{calc(100% / #{$columns} * #{$n} - #{$offset})};
}

@mixin reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

@mixin debug($background, $outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    
    > div{
        height: inherit;
        @include wrapper();
        
        > div{
            height: inherit;
            @include row-flex();
            
            > div{
                @include col();
                @include size(1);
                height: inherit;
                outline: $outline;
                background: $background;
            }
        }
    }
}

@mixin clearfix(){
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}
